@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row" ng-app="booksApp">
	<div class="view-animate-container">
		<div ng-view>
		</div>
	</div>

</div>
